.p-x {
  padding: 10px;
}

.nextui-c-fdHeMm-iizPHCF-css div {
  background: transparent !important;
}

.brand-logo {
  height: 40px;
  position: absolute;
  bottom: 3px;
  top: 0;
  margin: auto;
}

.max-90-p {
  max-width: 90%;
  margin: auto;
}