main {
  height: 100%;
  width: 100%;
}

.p-x {
  padding: 10px;
}

.nextui-c-fdHeMm-iizPHCF-css div {
  background: transparent !important;
}

.brand-logo {
  height: 40px;
  position: absolute;
  bottom: 3px;
  top: 0;
  margin: auto;
}

.max-90-p {
  max-width: 90%;
  margin: auto;
}

.after-header {
  height: 80px;
}

.nav-bar {
  position: fixed;
  width: 100%;
  z-index: 999;
  transition: padding .3s ease;
}

.side-bar {
  position: fixed;
  top: 20px;
  bottom: 0;
  max-width: 16.6667%;
  width: 100%;
  padding: 80px 10px 0 10px;
  border-right: 1px solid #e3e3e3;
}

.side-bar > div {
  display: flex;
}

.nav-bar > div {
  transition: border-radius .3s ease;
}

.nav-bar.scrolled {
  padding: 0;
}

.nav-bar.scrolled > div {
  border-radius: 0;
}